@using CarDealer.Models;

<h1>Car Dealer</h1>
<ul>

  @if (Model.Count == 0)
  {
    <p>You have no cars for sale</p>
  }
  @if (Model.Count != 0)
  {
    @foreach (Car car in Model)
    {
      <li><a href='/cars/@car.GetId()'>@car.GetMakeModel()</a></li>
    }
  }

</ul>
<a href="/cars/new">Add another car.</a>

<form action="/cars/delete" method="post">
  <button type="submit" name="button">Clear All Cars</button>
<form>
